@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --background-main: #f0f2f5;
  --white: #fff;
  --primary-1: #6070ff;
  --color2: #172b4d;
  --color3: #344563;
  --color4: #7f8cff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--background-main);
}

#toolbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--white);
}

#toolbar nav {
  width: 100%;
}

#toolbar nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

#toolbar nav ul li {
  display: inline;
}

#toolbar nav ul li button {
  border: none;
  outline: none;
  background-color: transparent;
}

#toolbar nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-1);
  font-size: 18px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  line-height: 20px;
}

#headline {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--white);
  background-image: url(./header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 97%;
  border-radius: 0 0 0 80px;
}

#headline h1 {
  color: var(--color2);
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 52px;
}

#headline p {
  color: var(--color3);
  line-height: 24px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

#headline h3 {
  color: var(--color4);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

main #headline ul {
  list-style-type: none;
}

main #headline ul li {
  display: inline-flex;
  padding: 0 4px;
  margin: 10px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
}

#headline ul li a:last-child {
  padding-left: 0;
}

#headline h3:hover {
  color: var(--primary-1);
}
